<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Index</title>
<link rel="stylesheet" type="text/css"
	href="../../webjars/bootstrap/5.2.3/css/bootstrap.min.css" />

</head>

<body class="container-sm text-center">

	<header>
		<img th:src="@{images/medilaboBannerWithoutText.jpg}" />
	</header>

	<nav class="mx-4 p-4 text-end">
		<a href="/logout" class="btn btn-outline-info btn-sm">Logout</a>
	</nav>

	<section class="mx-4 p-4">
		<div class="mx-4 p-4">
			<h1>Welcome to MediLabo Solutions !</h1>
		</div>
	
		<div class="mx-4 p-4">
			<a href="/patient/patients" class="btn btn-outline-info btn-lg">List
				of patients</a>
		</div>
	</section>

</body>
</html>