.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* Ensure it's above other content */
    display: none; /* Initially hide the modal */
}
.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}
.modal-dialog-centered {
    z-index: 1060; /* Ensure it's above the background */
}

.patients-Table:hover {
    color: red;
    background-color: #ff0000; /* Change this color to whatever suits your design */
    cursor: pointer; /* This makes it clear that the row is clickable */
}

.super-bg-log {
     /* Apply a linear gradient background */
     position: fixed;
     background: linear-gradient(to right, #ffffff, #FFFFFF, #8ec2ff, #4fa1ff);
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     z-index: 1040;
}