<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="../../webjars/bootstrap/5.2.3/css/bootstrap.min.css" />

</head>

<body class="container-sm text-center">

	<header class="text-center">
		<img th:src="@{images/medilaboLogoAndText.jpg}"  alt="logo of the company"/>
	</header>

	<section class="mx-4 p-4">
	
		<form method="post" role="form" th:action="@{/login}"
			th:object="${user}" class="form-horizontal">

			<div class="mx-4 p-4">
				<h3>
					<label class="formulaire">Username</label>
				</h3>
				<input type="text" id="username" name="username"
					class="form-control" th:field="*{username}"
					placeholder="Enter username" />
				<p class="fs-5" style="color: red" th:errors="*{username}"
					th:if="${#fields.hasErrors('username')}"></p>
			</div>
			<div class="mx-4 p-4">
				<h3>
					<label class="formulate">Password</label>
				</h3>
				<input type="password" id="password" name="password"
					class="form-control" th:field="*{password}"
					placeholder="Enter password" />
				<p class="fs-5" style="color: red" th:errors="*{password}"
					th:if="${#fields.hasErrors('password')}"></p>
			</div>

			<div>
				<p class="fs-5" style="color: red" th:text="${message}"></p>
			</div>

			<div class="mx-4 p-4">
				<button type="submit" class="btn btn-outline-info btn-lg">Submit</button>
			</div>
			
		</form>
		
	</section>
	
</body>
</html>