<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>New Note</title>
	<link rel="stylesheet" type="text/css" href="../../webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>

<body class="container-sm text-center">
	<nav class="mx-4 p-4 text-end">
		<a href="/patient/patients" class="btn btn-outline-info btn-sm">List of patients</a>
		<a href="/logout" class="btn btn-outline-info btn-sm">Logout</a>
	</nav>

	<div class="mx-4 p-4">
		<h4>Update Note</h4>
		<h2><span th:text="${note.patient}"></span></h2>
	</div>
	<div class="mx-4 p-4">
		<div th:if="${error}" class="d-flex justify-content-center col-sm-10 mb-3">
			<p class="text-danger text-center" th:text="${error}"></p>
		</div>

		<form th:action="@{/notes/modify}" th:object="${note}" method="post" enctype="multipart/form-data" style="margin: 10px 50px 10px;">
			<div class="mx-2 p-2">
				<input type="hidden" th:field="*{patient}" />
				<input type="hidden" th:field="*{patId}" />
				<input type="hidden" th:field="*{id}" />

				<textarea rows="10" class="form-control" id="content" name="content"
					placeholder="Enter content" th:field="*{content}"></textarea>
			</div>
			<div>
				<button type="submit" class="btn btn-outline-info btn-lg">Update</button>
				<a th:href="@{/patients/view(id=${note.patId})}" class="btn btn-outline-info btn-lg">Cancel</a>
			</div>
		</form>

		<div th:if="${message}" class="d-flex justify-content-left col-sm-10 mb-3">
			<p class="text-success" th:text="${message}"></p>
		</div>
		<div th:if="${error}" class="d-flex justify-content-left col-sm-10 mb-3">
			<p class="text-success" th:text="${error}"></p>
		</div>
	</div>

</body>
</html>
