<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Patients</title>
<link rel="stylesheet" type="text/css"
	href="../../webjars/bootstrap/5.2.3/css/bootstrap.min.css" />

</head>

<body class="container-sm text-center">

	<header class="container-sm text-center">
		<img th:src="@{../images/medilaboBannerWithoutText.jpg}" />
	</header>

	<nav class="mx-4 p-4 text-end">
		<a href="/logout" class="btn btn-outline-info btn-sm">Logout</a>
	</nav>

	<section class="container-sm text-center">

		<div class="mx-4 p-4">
			<h1>List of patients</h1>
		</div>

		<div class="mx-4 p-4">
			<a href="/patient/add" class="btn btn-outline-info btn-lg">Add
				patient</a>
		</div>

		<div class="mx-4 p-4">
			<table class="table table-info table-striped">
				<thead>
					<tr>
						<th scope="col">First name</th>
						<th scope="col">Last name</th>
						<th scope="col">Date of birth</th>
						<th scope="col">Gender</th>
						<th scope="col">Address</th>
						<th scope="col">Phone number</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="patient : ${patients}">
						<td th:text="${patient.firstName}"></td>
						<td th:text="${patient.lastName}"></td>
						<td th:text="${patient.dateOfBirth}"></td>
						<td th:text="${patient.gender}"></td>
						<td th:text="${patient.address}"></td>
						<td th:text="${patient.phoneNumber}"></td>
						<td><a th:href="@{/patient/view/{id}(id=${patient.id})}">View</a>
							<a th:href="@{/patient/delete/{id}(id=${patient.id})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

	</section>

</body>
</html>